<%= form_for(@button) do |f| %>
  <% if @button.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@button.errors.count, "error") %> prohibited this button from being saved:</h2>

      <ul>
      <% @button.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :on_command %><br>
    <%= f.text_field :on_command %>
  </div>
  <div class="field">
    <%= f.label :off_command %><br>
    <%= f.text_field :off_command %>
  </div>
  <div class="field">
    <%= f.label :power_status %><br>
    <%= f.check_box :power_status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
