<h1>Smart Switch</h1>

<%= link_to 'New Button', new_button_path %>

<div id="buttons">
  <% @buttons.each do |button| %>
    <div id="button" class="section">
      <%= link_to button.name, button %>
      <a class="switch_btn" href="/command/<%= button.on_command %>">ON</a>
      <a class="switch_btn" href="/command/<%= button.off_command %>">OFF</a>
      <%= button.power_status %>
    </div>
  <% end %>
</div>


