<h1>Smart Switch</h1>

<%= link_to 'New Button', new_button_path %>

<div id="buttons">
  <% @buttons.each do |button| %>
    <div id="button" class="section">
      <%= link_to button.name, button %>
      <%= link_to "ON", on_button_path(button), class: "switch_btn" %>
      <%= link_to "OFF", off_button_path(button), class: "switch_btn" %>
      <%= link_to "TOGGLE", toggle_button_path(button), class: "switch_btn" %>
      Status: <%= button.power_status %>
    </div>
  <% end %>
</div>


